[submodule "ext/rapidcheck"]
	path = ext/rapidcheck
	url = https://github.com/ezzieyguywuf/rapidcheck
[submodule "ext/expected-1"]
	path = ext/expected-1
	url = https://github.com/ezzieyguywuf/expected-1
	branch = monadic_bind
